
@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px;/* bottom has to be the same as footer height */
    background: #f4f4f4;
	color: #5a5656;
	font: 'Open Sans', sans-serif;
	font-size:15px;
  	margin: 0;
}

input[type=submit]{
  background-color: #008dde;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  height: 50px;
  padding: 10px;
  text-transform: uppercase;
  width: 300px;
  -webkit-appearance:none;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

h2{
	text-align: center;
}

input[type="text"], [type="number"], [type="datetime-local"], [type="password"]  {
	background: #e5e5e5;
	border: none;
	border-radius: 3px;
	color: #5a5656;
	font-family: inherit;
	font-size: 14px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	width: 300px;
  -webkit-appearance:none;
}

select {
  background: #e5e5e5;
	border: none;
	border-radius: 3px;
	color: #5a5656;
	font-family: inherit;
	font-size: 14px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	width: 300px;
}

textarea{
	background: #e5e5e5;
	border: none;
	border-radius: 3px;
	color: #5a5656;
	font-family: inherit;
	font-size: 14px;
	height: 200px;
	outline: none;
	padding: 0px 10px;
	width: 300px;
  -webkit-appearance:none;
}

@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */


a { text-decoration: none; 
	}

h1 { font-size: 20px; }

h1, p {
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.uppercase { text-transform: uppercase; }

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 300px;
}



#label{
	font-size:20px; 
	color:#000000;
}

h3{
	font-size: 20px
	color: #000000;
}

img{
	width:300px;
	height:200px;
	max-width: 100%;
	max-height: 100%;
}

.error{
	color:red;
}
/*MODAL*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #0079ce;
	color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
	padding: 2px 16px;
	background-color: #0079ce;
	color: white;
}

.button{ 
	text-align: center;
	margin: auto; 

	background-color: #008dde;
	border: none;
	border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: inherit;
	height: 50px;
	text-transform: uppercase;
	width: 300px;
  -webkit-appearance:none;
}
.buttontext{
	color: #f4f4f4;
	cursor: pointer;
	font-family: inherit;
	position: relative;
	top: 30%;
}
.modaltitle{
	text-align: center;
}