@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";
*{
  margin: 0;
  padding:;
  /*box-sizing: border-box;*/

}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 60px;/* bottom has to be the same as footer height */
}
/*.left {*/
  /*background-color:#2196F3;*/
  /*padding:5px;*/
  /*float:left;*/
  /*width:33%;*/
  /*!*box-sizing: border-box;*!*/
/*}*/

/*.middle {*/
  /*background-color:#f1f1f1;*/
  /*padding:5px;*/
  /*float:left;*/
  /*width:33%;*/
  /*!*box-sizing: border-box;*!*/
/*}*/

/*.right {*/
  /*background-color:#4CAF50;*/
  /*padding:5px;*/
  /*float:left;*/
  /*width:34%;*/
  /*!*box-sizing: border-box;*!*/
/*}*/

div.gallery {
  margin: 5px;
  border: 5px solid #ccc;
  margin:auto;
  float: left;
  width:252.4px;
}

div.gallery:hover {
  background-color:#008dde
}
div.desc:hover {
  color:#ffffff;
}

div.gallery img {
  width: 100%;
  height: s;
}

div.desc {
  padding: 10px;
  text-align: center;
}


body {
  font-family: arial;
  font-size: 15px;
  line-height: 1.5em;
  background: #f4f4f4;
}

#container {
  background: #333333;
  margin: auto;
  margin-top: 50px;
  overflow: auto;
  width: 60%;

}

#container2 {
  background: #f4f4f4;
  margin: auto;
  overflow: auto;
  width: 60%;
}

header h1 {
  color: #ffffff;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ffffff;
}

header h3 {
  color: #ffffff;
  font-size: 50px;
  padding-bottom:10px; 
  text-align:center;
  font-family: inherit;
}

#messages {
  width: 90%;
  background: #f4f4f4;
  height: 400px;
  margin: 20px auto;
  overflow: auto;
}

.message {
  list-style: none;
  padding: 8px;
  border-bottom: 1px #cccccc dotted;
}

.message span {
  color:#aaaaaa;
}

/*#input {
  width: 90%;
  margin: auto;
  padding: 0;
}*/

#searchBar {
  color: #ffffff;
  font-size: 22px;
  padding: 0px 0 0px 0px;
  border-bottom: 1px solid #ffffff;
}

#pictureRow {
  width: 90%;
  margin: auto;
  padding: 5px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}

#input input[type='text'] {
  height: 25px;
  width: 48%;
  padding: 3px;
  margin-bottom: 20px;
  border: #666666 solid 1px;
}

#user {
  float: left;
}

#newmessage{
  float: right;
}



.error {
  background: red;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 20px;
}
 
@media only screen and (max-width: 768px) {
  #input input[type='text'] {
    width: 98%;
    float: none;
  }
}

select {
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  width: 300px;
  float: right;
}

input[type="text"] {
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 0px;
  width: 300px;
  -webkit-appearance:none;
}
input[type="submit"]{
  background: #008dde;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  height: 50px;
  outline: none;
  width: 100%;
  text-align: center;
  margin: auto;
}


